body{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.d-row{
    display: flex;
    flex-direction: row
}

.calendar{
    background-color: #464646;
    width: 360px;
    height: 475px;
    margin: 0 auto;
}
.day-padding{
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.grey-line{
    border-bottom: #6c6c6c 1px solid;
}
.time{
    font-size: 30px;
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.date{
    color: #488667;
    line-height: 25px;
}
.focus-month{
    padding-top: 15px;
    padding-left: 17px;
    width: 225px;
}
.up-arrow, .down-arrow{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    transform: rotate(90deg);
    cursor: pointer;
}
.calendar-body{
    padding-left: 10px;
}
.day-name{
    color: #f9f9f9;
    text-align: center;
    line-height: 20px;
    width: 43px;
    height: 20px;
    border: 2px solid transparent;
}
.week{
    padding-left: 10px;
    margin-top: 20px;
}
.day-of-month{
    color: #f9f9f9;
    text-align: center;
    line-height: 40px;
    width: 43px;
    height: 40px;
    border: 2px solid transparent;
}
.day-of-month:hover{
    border: 2px solid #1fb265;
    background-color: #7c7878; 
}
.shadow-day{
    color: #999999;
}
.day-selected-on-calendar{    
    border: 2px solid #00833f;
}
.today{
    background-color: #00833f;
    border: #000000 2px solid;    
    box-shadow: 0 0 10px rgba(0, 131, 63, 0.5);
}
.selected-day{
    padding-left: 17px;
    padding-top: 20px;
}